.container{
  display: flex;
  justify-content: center;
  align-items:stretch;
}

.flag{
  width: 800px;
  margin-top: 50px;
}
img{
  width: 700px;
}

.info{
  margin-top: 50px;

}

.domain{
  margin-top: 50px;
}

.countries{
  margin-top: 50px;
}